.nome {
  width: 60%;
  color:darksalmon;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.inline_img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.minibio {
  width: 70%;
  color:gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.linkedin {
  width: 70%;
  color:gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}